img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul.list-style,
ol.list-style {
  padding: 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
  color: $accent-1;
}

.unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.container {
  @include widther(1440px) {
    padding: 0 96px;
    max-width: 100%;
  }
}

section:after {
  content: "";
  display: block;
  clear: both;
}

.form-group {
  position: relative;
}

.input-group {
  position: relative;
  background: $white;
  padding: 15px;
  border: none;
  box-shadow: -42px 42px 24px rgba(0, 0, 0, 0.01), -24px 24px 20px rgba(0, 0, 0, 0.03), -11px 11px 15px rgba(0, 0, 0, 0.04), -3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.form-control {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
  margin-bottom: 0;
  color: $black-2;

  &:focus {
    outline: 0;
    box-shadow: none;
    background: transparent;
    color: $black;
  }

  &::placeholder {
    color: $gray-3;
    opacity: 1;
  }
}

.form-group {
  .form-control {
    background: $white;
    padding: clamp(8px, 0.833vw, 24px) clamp(14px, 0.833vw, 24px);
    border: none;
    box-shadow: -42px 42px 24px rgba(0, 0, 0, 0.01), -24px 24px 20px rgba(0, 0, 0, 0.03), -11px 11px 15px rgba(0, 0, 0, 0.04), -3px 3px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
  }
}

textarea {
  height: 240px;
}

.input-group {
  button {
    background: transparent;
    border: 0;
    border-radius: 0;
    // font-weight: 700;
    font-size: 28px;
    color: $gray-3;
  }
}


label {
  &.error {
    color: #bc0f0f;
    margin-top: 10px;
  }
}

.alert-message {
  display: none;
}


.pagination-cus {
  display: inline-flex;

  li {
    margin-right: 10px;

    i {
      font-size: 60px;
      color: $black-1;
    }

    a {
      display: block;
    }

    .link {
      background: linear-gradient(282.51deg,
          rgba(148, 158, 155, 0.2) -4.31%,
          rgba(148, 158, 155, 0) 126.79%);
      backdrop-filter: blur(2.5px);
      border-radius: 10px;
      padding: 10px 20px;
      text-align: center;
      font-size: $font-24;
      color: $black-1;

      &.active {
        color: $accent-1;
      }

      &:hover {
        color: $accent-1;
      }
    }
  }
}


.points {
  li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      left: 0;
      top: 10px;
      background: $accent-1;
      transform: rotate(45deg);
    }
  }
}

.card-slider {
  .slick-prev {
    &::after {
      content: '\f053' !important;
      font-family: $font-awesome !important;
      height: 48px !important;
      width: 48px !important;
      background-size: cover !important;
      position: absolute !important;
      left: 12px !important;
      background: $gray-1 !important;
      border-radius: 15px !important;
      font-size: 38px !important;
      line-height: 35px !important;
      padding: 8px !important;
      color: $accent-1 !important;
      top: -102px !important;
      z-index: 10 !important;
      transition: $transition;

      @media(max-width: 1199px) {
        top: -95px !important;
      }

      @media(max-width: 992px) {
        right: 70px !important;
        top: -83px !important;
        height: 42px !important;
        width: 42px !important;
        font-size: 33px !important;
        line-height: 27px !important;
      }

      @media(max-width: 767px) {
        right: 60px !important;
        top: -72px !important;
        height: 36px !important;
        width: 36px !important;
        font-size: 29px !important;
        line-height: 23px !important;
        border-radius: 10px !important;
      }

      @media(max-width: 575px) {
        right: 50px !important;
        top: -68px !important;
        height: 32px !important;
        width: 32px !important;
        font-size: 25px !important;
        line-height: 20px !important;
      }
    }
    &:hover {
      &::after{
        transition: $transition !important;
        background: $accent-1 !important;
        color: $white !important;
      }
    }
  }

  .slick-next {
    &::after {
      content: "\f054" !important;
      font-family: $font-awesome !important;
      height: 48px !important;
      width: 48px !important;
      background-size: cover !important;
      position: absolute !important;
      left: 92px !important;
      background: $gray-1 !important;
      border-radius: 15px !important;
      font-size: 38px !important;
      line-height: 35px !important;
      padding: 8px !important;
      color: $accent-1 !important;
      top: -102px !important;
      z-index: 10 !important;
      transition: $transition;

      @media(max-width: 1199px) {
        top: -95px !important;
      }

      @media(max-width: 992px) {
        left: 70px !important;
        top: -83px !important;
        height: 42px !important;
        width: 42px !important;
        font-size: 33px !important;
        line-height: 27px !important;
      }

      @media(max-width: 767px) {
        left: 60px !important;
        top: -72px !important;
        height: 36px !important;
        width: 36px !important;
        font-size: 29px !important;
        line-height: 23px !important;
        border-radius: 10px !important;
      }

      @media(max-width: 575px) {
        left: 50px !important;
        top: -68px !important;
        height: 32px !important;
        width: 32px !important;
        font-size: 25px !important;
        line-height: 20px !important;
      }
    }
    &:hover {
      &::after{
        transition: $transition !important;
        background: $accent-1 !important;
        color: $white !important;
      }
    }
  }
}

/*-------------------------
    Typography
-------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $gray-2;
  background: $white;
  font-weight: 400;
  background-color: $white;
  height: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $gray-2;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: $accent-1;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }

  &.dark {
    background: $black-1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0 0 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 750;
  color: $black-1;
}

p {
  font-size: $font-14;
  font-weight: 400;
  margin: 0 0 16px 0;
  line-height: 150%;
  letter-spacing: 0.03em;

}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
  transition: $transition;

  &:hover {
    transition: $transition;
    color: $accent-1;
  }
}

span {
  display: inline-block;
  font-size: $font-14;
  line-height: 150%;
  letter-spacing: 0.03em;
}

b,
strong {
  font-family: $font-primary;
}


.social-icon {
  @include media-query(380px) {
    justify-content: center !important;
  }
}