// Nav
nav {
  a {
    &.active {
      color: $accent-1;
    }
  }
  // .navbar-brand {
  //   display: none;
  // }
  @include media-query(1199px) {
    .navbar-brand {
      display: block;
    }
  }
  .navbar-toggler{
    color:$black;
    border: none;
    outline: 0;
  }
  .menu-item{
    margin-right: 30px;
    @include media-query(1199px) {
      margin: 0 0 10px 0;
    }

  }
  .menu-item-has-children {
    position: relative;

    .submenu {
      position: absolute;
      top: 19px;
      left: 0;
      background: $white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      z-index: 999999;
      opacity: 0;
      visibility: hidden;
      min-width: 250px;
      padding: 20px 10px;
      border-radius: 4px;
      list-style: none;
      margin: 0;
      a {
        &:after {
          display: none;
        }
      }
      li {
        margin: 0;
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
        a {
          position: relative;
          font-weight: 600;
          font-size: 16px;
          letter-spacing: 0.02em;
          color: $black-1;
          padding: 10px;
          display: block;
          &.active {
            color: $accent-1;
          }
          &:hover {
            color: $accent-1;
            
          }
        }
      }
    }
    
    &:hover {
      .submenu {
        opacity: 1;
        visibility: visible;
        z-index: 99999;
        right: 0;
        @include media-query(790px) {
          left: 0;
        }
        li {
          opacity: 1;
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
      }
    }
  }
  .navbar-toggler {
    padding: 10px;
    font-size: 24px;
    color: $black;
    margin-top: 10px;
  }
  .navbar-toggler:focus{
    outline: 0;
    box-shadow: none;
  }
  .navbar-collapse {
    @include media-query(1199px) {
      background: $black-2;
      padding: 15px 20px;
      position: absolute;
      right: 0;
      z-index: 9999;
      border-radius: 8px;
    }
  }
}

// Header
.header{
  width: 100%;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $white;
  &.st-2{
    position: relative;
    top: unset;
    left: unset;

  }
  nav{
    .dark-logo{
      display: none;
    }
    .navbar-nav{
      gap: clamp(20px, 1.667vw, 48px);
      @include media-query(1199px) {
        margin: 0;
      }

      .menu-item-has-children{
        a{
          color: $gray-4;
          font-weight: 400;
          font-size: 24px;
          transition: $transition;
          
          @include media-query(1399px) {
            font-size: 19px;
          }
          @include media-query(1199px) {
            color: $white;
          }

          &.dark-btn{
            color: $white !important;
          }
          &.active {
            color: $accent-1;
            font-weight: 700;
          }
          &:hover{
            transition: $transition;
            color: $accent-1;
            svg{
              stroke: $accent-1;
            }
          }
        }
      }
    }
  }
}